<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parameter Suite">

	<test name="LinkedIn">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.google.com" />
		<classes>
			<!--	<class name="LinkedIn_Pratice.DataProviderr" />
			<class name="LinkedIn_Pratice.Parameter" />
			<class name="LinkedIn_Pratice.Dependency" />
			<class name="LinkedIn_Pratice.DropdownHandlingTest" />
			<class name="LinkedIn_Pratice.FrameHandling" />
			<class name="LinkedIn_Pratice.HandleSimpleAlertTest" />
			<class name="LinkedIn_Pratice.Parameter" />
			<class name="LinkedIn_Pratice.RadioButtons" />  
			<class name="LinkedIn_Pratice.DataDrivenLoginTestWithLog4j" /> 
			<class name="LinkedIn_Pratice.HandleWebElements_Collection" />
			<class name="LinkedIn_Pratice.PageFactoryLoginTest" />  
			<class name="LinkedIn_Pratice.ActionsPracticeTest" /> 
			<class name="LinkedIn_Pratice.ScreenshotAllInOne" /> 
			<class name="LinkedIn_Pratice.AlertHandlingTest" />
			<class name="LinkedIn_Pratice.WebTablePractice" />  
			<class name="LinkedIn_Pratice.FrameHandlingTest" /> 
			<class name="LinkedIn_Pratice.WindowHandlingTest" /> 
			<class name="LinkedIn_Pratice.FluentWaitPracticeTest" /> -->
			<class name="LinkedIn_Pratice.FluentWaitPracticeTest" />
		</classes>
	</test>

</suite>
